.item {
    padding: 1rem;

    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

    margin: 1rem 0;

    transition: transform 100ms ease-in-out;

    &:hover {
        transform: scale(1.02);
    }
}

.clickable {
    cursor: pointer;
}

.heading {
    margin: 0;
}

.sub {
    color: #414141;
}
