.btn {
    all: unset;
    box-sizing: border-box;
    cursor: pointer;

    color: #ffffff;
    font-size: inherit;
    text-align: center;

    background-color: #59afff;
    padding: 0.5rem 1.2rem;
    border-radius: 10px;

    width: 100px;
}
